$m-desktop: 32px;
$f-size-desktop: 18px;
$f-size-12-desktop: 12px;
$f-size-label-desktop: 24px;
$img-size-q-desktop: 180px;
$padding-desktop: 16px;
$gap-desktop: 16px;
$f-route-map: 14px;
$w-desktop: 80%;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 481px;
$breakpoint-laptop: 769px ;
$breakpoint-monitor:1025px;

