@import "_colors";
@import "_medidas";

.btnBlue {
  outline: none;
  button {
    width: 100%;
    font-size: $f-size-desktop;
    background-color: $primary-btn-blue;
    padding: 10px;
    border-radius: 4px;
    color: $primary-white;
    border: none;
    cursor: pointer;
  }
  :hover {
    background-color: #4e90f3;
    color: white;
  }
}
