@import '_colors';

.topndav {
    width: 100%;
    overflow: hidden;
    background-color: $primary-bar;
    margin: auto;
    //min-height: 52px;
    //justify-content: center;
    //margin-bottom: 16px;
    float: left;
    display: block;
}

.container {
    width: 80%; /* Can be in percentage also. */
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    display: flex;
}

.searchcontainer {
    width: 100%;
    padding-left: 1em;
    overflow: hidden;
    display: inline-flex;
    height: 2.2em;
}

.textsearch {
    width: 100%;
    min-height: 50%;
    border: none;
    border-radius: 0.2em 0 0 0.2em;
    outline: none;
}
.searchbutton {
    z-index: 10;
    border: none;
    padding: 4px;
    background-color: $primary-white;
    border-radius: 0 0.2em 0.2em 0;
    cursor: pointer;
}
